/* 사용하지 않는 폰트는 삭제 후 사용할 것! */

/* LINESeedKR */
@font-face {
    font-family: 'LINESeedKR';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/LINESeedKR-Th.woff2') format('woff2-variations');
}
@font-face {
    font-family: 'LINESeedKR';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/LINESeedKR-Rg.woff2') format('woff2-variations');
}
@font-face {
    font-family: 'LINESeedKR';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/LINESeedKR-Bd.woff2') format('woff2-variations');
}

/* SUITE Variable */
@font-face {
    font-family: 'SUITE Variable';
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/SUITE-Variable.woff2') format('woff2-variations');
}

/* Roboto */
@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
}

@font-face{
    font-family: 'Roboto';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff');
}

/* BC Card */
@font-face {
    font-family: 'BCcard';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/BCCardLight.woff2') format('woff2'),
        url('../fonts/BCCardLight.woff') format('woff');
}

@font-face {
    font-family: 'BCcard';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/BCCardBold.woff2') format('woff2'),
        url('../fonts/BCCardBold.woff') format('woff');
}
