@charset "utf-8";
/* ==================================================

    * popup
    
================================================== */
.popup-wrap{
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    letter-spacing: -0.015em;
}
.popup-contents{
    position: relative;
}
.popup-tit-wrap{
    padding: 25px 30px;
    background-color: #fff;
    text-align: center;
}
.popup-tit-wrap img{
    display: inline-block;
    width: auto;
    max-width: 100%;
    vertical-align: middle;
}
.popup-conbox{
    padding-bottom: 30px;
    font-size: 1.7rem;
    line-height: 1.5;
}
.popup-footer{
    position: relative;
    width: 100%;
    height: 45px;
    padding: 16px 15px;
    padding-right: 60px;
    background-color: #ebebeb;
    font-size: 1.4rem;
    letter-spacing: -0.05em;
}
.popup-footer .btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 45px;
    padding: 15px 10px;
    background-color: #3b3b3b;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.btn-pop-close{
    position: absolute;
    top: 18px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../image/icon/ic_popup_close.png');
}

/* window popup */
.win-popup-wrap{
    width: 100%;
    max-width: 100%;
    height: 100%;
    background: none;
}
.win-popup-wrap .popup-contents{
    max-width: 100%;
    padding-bottom: 45px;
}
.popup-wrap:not(.win-popup-wrap) .popup-contents{
    overflow: hidden;
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: 7vh auto;
    background-color: #fff;
    border-radius: 20px;
}
.win-popup-wrap .popup-footer{
    position: fixed;
    bottom: 0;
}
.win-popup-wrap .btn-pop-close{
    display: none;
}

/* Typa A */
.type1 .popup-tit-wrap{
    padding: 20px 70px;
}
.type1 .popup-conbox{
    width: 100%;
    border: 0;
}
.type1 .popup-contit-wrap{
    padding: 17px 10px;
    background-color: #368eaf;
    text-align: center;
}
.type1 .popup-contit{
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.3;
}
.type1 .popup-con{
    padding: 30px;
    font-size: 1.8rem;
    line-height: 1.6;
}
.type1 .popup-con img{
    max-width: 100%;
    border: 1px solid #eee;
}
.type1 .popup-attach-con{
    width: calc(100% - 60px);
    padding: 25px 30px;
    margin: 0 auto;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    background-color: #f8f8f8;
}
.type1 .popup-attach-con > a{
    display: block;
    padding: 2px 0;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: 0 6px;
    background-image: url('../image/icon/ic_file_down.png');
    font-size: 1.7rem;
    letter-spacing: -0.05em;
    transition: 0.3s ease;
    word-break: break-all;
}
.type1 .popup-attach-con > a:hover{
    background-image: url('../image/icon/ic_file_down_on.png');
}
.type1 .btn-wrap{
    margin-top: 30px;
}
.type1 .btn-wrap .btn{
    padding: 13px 40px;
    margin: 4px;
    border-radius: 30px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: -0.05em;
}
.type1 .btn.btn-pop-more{
    background-color: #505050;
}
.type1 .btn.btn-pop-link{
    background-color: #368eaf;
}

/* Type B */
.type2 .popup-contit-wrap{
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
}
.type2 .popup-contit{
    font-size: 3rem;
}
.type2 .popup-con{
    padding: 25px 30px;
}
.type2 .popup-con img{
    max-width: 100%;
    border: 1px solid #eee;
}
.type2 .popup-attach-con{
    width: calc(100% - 60px);
    margin: 0 auto;
    border-top: 1px solid #d6d6d6;;
}
.type2 .popup-attach-con > a{
    display: block;
    padding: 12px 15px;
    padding-right: 35px;
    background-repeat: no-repeat;
    background-position: right 15px top 15px;
    background-image: url('../image/icon/ic_file_down2.png');
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.6rem;
    font-weight: 600;
    color: #3c3c3c;
    letter-spacing: -0.05em;
    transition: 0.3s ease;
    word-break: break-all;
}
.type2 .popup-attach-con > a:hover{
    background-image: url('../image/icon/ic_file_down2_on.png');
}
.type2 .btn-wrap{
    margin-top: 20px;
}
.type2 .btn-wrap .btn{
    padding: 13px 40px;
    margin: 4px;
    border-radius: 3px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: -0.05em;
}
.type2 .btn.btn-pop-more{
    background-color: #505050;
}
.type2 .btn.btn-pop-link{
    background-color: #ee6a00;
}

/* Type C */
.type3 .popup-tit-wrap{
    padding-left: 70px;
    padding-right: 70px;
}
.type3 .popup-contit-wrap{
    padding: 17px 20px;
    background-color: #3b4a72;
    text-align: center;
}
.type3 .popup-contit{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
    color: #fff;
}
.type3 .popup-con{
    padding: 30px;
    font-size: 1.8rem;
    line-height: 1.6;
}
.type3 .popup-con img{
    max-width: 100%;
    border: 1px solid #eee;
}
.type3 .popup-attach-con{
    width: calc(100% - 60px);
    padding: 25px 30px;
    margin: 0 auto;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    background-color: #f8f8f8;
}
.type3 .popup-attach-con > a{
    display: block;
    padding: 2px 0;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: 0 6px;
    background-image: url('../image/icon/ic_file_down.png');
    font-size: 1.7rem;
    letter-spacing: -0.05em;
    transition: 0.3s ease;
    word-break: break-all;
}
.type3 .popup-attach-con > a:hover{
    background-image: url('../image/icon/ic_file_down_on.png');
}
.type3 .btn-wrap{
    margin-top: 40px;
}
.type3 .btn-wrap .btn{
    padding: 13px 40px;
    margin: 4px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: -0.05em;
}
.type3 .btn.btn-pop-more{
    background-color: #fff;
    border-color: #505050;
    color: #505050;
}
.type3 .btn.btn-pop-link{
    background-color: #29499d;
    border-color: #29499d;
    color: #fff;
}
.type3 .popup-footer{
    padding: 17px 20px;
    background-color: #ebebeb;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: right;
}

/* Type D */
.type4 .popup-conbox{
    padding: 70px 35px 40px;
}
.type4 .popup-contit-wrap{
    margin-bottom: 10px;
}
.type4 .popup-contit{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
}
.type4 .popup-con img{
    max-width: 100%;
    border: 1px solid #eee;
}
.type4 .popup-attach-con{
    width: 100%;
    margin-top: 30px;
}
.type4 .popup-attach-con > a{
    display: block;
    padding: 11px 20px;
    padding-left: 50px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: 20px 15px;
    background-image: url('../image/icon/ic_file_down3.png');
    font-size: 1.7rem;
    letter-spacing: -0.05em;
    transition: 0.3s ease;
    word-break: break-all;
}
.type4 .popup-attach-con > a + a{
    margin-top: 10px;
}
.type4 .popup-attach-con > a:hover{
    border-color: #9f9f9f;
}
.type4 .btn-wrap{
    margin-top: 30px;
}
.type4 .btn-wrap .btn {
    padding: 13px 40px;
    margin: 4px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: -0.05em;
}
.type4 .btn.btn-pop-more{
    background-color: #fff;
    border-color: #505050;
    color: #505050;
}
.type4 .btn.btn-pop-link{
    background-color: #1f8bae;
    border-color: #1f8bae;
    color: #fff;
}
.type4 .popup-footer{
    padding: 17px 20px;
    border-top: 1px solid #dadada;
    background-color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: right;
}
.type4 .btn-pop-close{
    top: 30px;
    right: 35px;
}

/* Multi Popup */
.popup-rolling-wrap{
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
    max-width: 1440px;
    margin: 10vh auto;
    padding: 0 20px;
}
.popup-wrap .popup-rolling-wrap .popup-contents{
    display: block;
    position: relative;
    flex: 1;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: 100%;
    margin: 0 10px;
    background-color: #fff;
}
.popup-rolling-wrap .popup-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.popup-rolling-wrap .slick-track{
    height: 100%;
}
.popup-rolling-wrap .slick-arrow{
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.3);
    text-indent: -9999em;
}
.popup-rolling-wrap .slick-prev{
    left: 0;
    background-image: url('../image/common/ic_pop_prev.png');
}
.popup-rolling-wrap .slick-next{
    right: 0;
    background-image: url('../image/common/ic_pop_next.png');
}
.popup-rolling-wrap .btn-pop-close{
    background-size: 30px;
}
.popup-rolling-wrap .scroll-y{
    overflow-y: auto;
    height: calc(100% - 118px);
}
.type2 .popup-rolling-wrap .scroll-y,
.type4 .popup-rolling-wrap .scroll-y,
.popup-rolling-wrap .type2 .scroll-y,
.popup-rolling-wrap .type4 .scroll-y{
    height: calc(100% - 45px);
}

/* ==================================================

    * responsive
    
================================================== */
@media screen and (max-width: 768px){
    .popup-conbox{
        padding-bottom: 20px;
    }
    .popup-tit-wrap{
        padding: 15px 20px;
    }
    .popup-footer{
        padding: 9px 15px;
        padding-right: 50px;
        height: 30px;
        font-size: 12px;
    }
    .popup-footer .btn{
        width: auto;
        height: 30px;
        padding: 10px 15px;
        font-size: 12px;
        text-align: center;
    }
    .btn-pop-close{
        top: 18px;
        right: 15px;
        width: 25px;
        height: 25px;
        background-size: 20px;
    }

    .popup-wrap:not(.win-popup-wrap) .popup-contents{
        margin: 3vh auto;
        border-radius: 10px;
    }
    .win-popup-wrap .popup-contents{
        padding-bottom: 30px;
    }

    /* Type A */
    .type1 .popup-tit-wrap{
        padding: 15px 45px;
    }
    .type1 .popup-contit-wrap{
        padding: 15px;
    }
    .type1 .popup-contit{
        font-size: 24px;
    }
    .type1 .popup-con{
        padding: 20px 15px;
        font-size: 14px;
        line-height: 1.4;
    }
    .type1 .popup-attach-con{
        width: calc(100% - 30px);
        padding: 15px;
        border-radius: 3px;
    }
    .type1 .popup-attach-con > a{
        padding-left: 20px;
        background-size: 10px;
        background-position: 0 3px;
        font-size: 12px;
        line-height: 1.3;
    }
    .type1 .btn-wrap{
        margin-top: 20px;
    }
    .type1 .btn-wrap .btn{
        padding: 8px 25px;
        margin: 2px;
        font-size: 14px;
    }

    /* Type B */
    .type2 .popup-contit-wrap{
        padding: 30px 20px;
    }
    .type2 .popup-contit{
        font-size: 24px;
    }
    .type2 .popup-con{
        padding: 20px 15px;
        font-size: 14px;
        line-height: 1.4;
    }
    .type2 .popup-attach-con{
        width: calc(100% - 30px);
    }
    .type2 .popup-attach-con > a{
        padding: 7px 10px;
        padding-right: 30px;
        background-position: right 10px top 9px;
        background-size: 12px;
        font-size: 12px;
    }
    .type2 .btn-wrap .btn{
        padding: 8px 25px;
        margin: 2px;
        font-size: 14px;
    }

    /* Type C */
    .type3 .popup-tit-wrap{
        padding-left: 40px;
        padding-right: 40px;
    }
    .type3 .popup-contit-wrap{
        padding: 15px;
    }
    .type3 .popup-contit{
        font-size: 24px;
    }
    .type3 .popup-con{
        padding: 20px 15px;
        font-size: 14px;
        line-height: 1.4;
    }
    .type3 .popup-attach-con{
        width: calc(100% - 30px);
        padding: 15px;
        border-radius: 3px;
    }
    .type3 .popup-attach-con > a{
        padding-left: 20px;
        background-size: 10px;
        background-position: 0 3px;
        font-size: 12px;
        line-height: 1.3;
    }
    .type3 .btn-wrap{
        margin-top: 20px;
    }
    .type3 .btn-wrap .btn{
        padding: 7px 25px;
        margin: 2px;
        border-radius: 2px;
        font-size: 14px;
    }
    .type3 .popup-footer{
        padding: 9px 15px;
        font-size: 12px;
    }

    /* Type D */
    .type4 .popup-conbox{
        padding: 50px 15px 20px;
    }
    .type4 .popup-contit{
        margin-bottom: 10px;
        font-size: 24px;
    }
    .type4 .popup-con{
        font-size: 14px;
        line-height: 1.4;
    }
    .type4 .popup-attach-con > a{
        padding: 10px;
        padding-left: 25px;
        border-radius: 3px;
        background-size: 10px;
        background-position: 10px 13px;
        font-size: 12px;
        line-height: 1.3;
    }
    .type4 .popup-attach-con > a + a{
        margin-top: 7px;
    }
    .type4 .btn-wrap{
        margin-top: 20px;
    }
    .type4 .btn-wrap .btn{
        padding: 7px 25px;
        margin: 2px;
        border-radius: 2px;
        font-size: 14px;
    }
    .type4 .popup-footer{
        padding: 9px 15px;
        font-size: 12px;
    }
    .type4 .btn-pop-close{
        top: 18px;
        right: 15px;
    }

    /* Multi Popup */
    .popup-wrap .popup-rolling-wrap .popup-contents{
        max-width: 100%;
        margin: 0;
    }
    .popup-rolling-wrap .scroll-y{
        height: calc(100% - 93px);
    }
    .type2 .popup-rolling-wrap .scroll-y,
    .type4 .popup-rolling-wrap .scroll-y,
    .popup-rolling-wrap .type2 .scroll-y,
    .popup-rolling-wrap .type4 .scroll-y{
        height: calc(100% - 45px);
    }
}