@charset "utf-8";
/* ==================================================

    * search
    
================================================== */
.sch-wrap,
.sch-wrap *{
    font-family: 'SUITE Variable', 'Pretendard Variable', sans-serif;
}
.sch-wrap .form-item{
    margin: 0;
}

.sch-wrap.skin1,
.sch-wrap.skin2,
.sch-wrap.skin3,
.sch-wrap.skin4{
    margin-top: 30px;
}

/* Type A */
.sch-wrap.type1{
    display: flex;
    justify-content: end;
}
.sch-wrap.type1 .form-group:after{
    display: block;
    content: '';
    clear: both;
}
.sch-wrap.type1 .form-item{
    height: 40px;
    margin: 0 5px;
    border-color: #dcdcdc;
    border-radius: 3px;
    font-size: 1.5rem;
    letter-spacing: -0.015em;
}
.sch-wrap.type1 .sch-cate{
    width: 110px;
}
.sch-wrap.type1 .sch-key{
    width: 300px;
    margin: 0 5px;
}
.sch-wrap.type1 .btn-sch{
    height: 40px;
    padding: 0 25px;
    padding-left: 40px;
    background-color: #144393;
    background-repeat: no-repeat;
    background-image: url('/assets/image/board/ic_sch.png');
    background-position: 12px center;
    border-radius: 3px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}
.sch-wrap.type1.skin1 .btn-sch{
    padding-left: 0;
    width: 40px;
    margin-left: -10px;
}

/* Type B */
.sch-wrap.type2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 2%;
    background-color: #f6f8fc;
}
.sch-wrap.type2 .form-group:after{
    display: block;
    content: '';
    clear: both;
}
.sch-wrap.type2 .form-item{
    height: 40px;
    margin: 0 5px;
    border-color: #dcdcdc;
    border-radius: 2px;
    font-size: 1.5rem;
    letter-spacing: -0.015em;
}
.sch-wrap.type2 .sch-cate{
    width: 110px;
}
.sch-wrap.type2 .sch-key{
    width: 300px;
    margin: 0 5px;
}
.sch-wrap.type2 .btn-sch{
    height: 40px;
    width: 40px;
    background-color: #144393;
    background-repeat: no-repeat;
    background-image: url('/assets/image/board/ic_sch.png');
    background-position: center;
    border-radius: 2px;
}
.sch-wrap.type2 .btn-reset{
    height: 40px;
    padding: 0 30px;
    margin: 0 5px;
    background-color: #fff;
    border: 1px solid #144393;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #144393;
}

/* Type C */
.sch-wrap.type3 .form-group{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 19px 20px;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
}
.sch-wrap.type3 .form-item{
    height: 30px;
    padding: 0 20px;
    border: 0;
    font-size: 1.6rem;
    letter-spacing: -0.015em;
}
.sch-wrap.type3 .sch-cate{
    width: 150px;
}
.sch-wrap.type3 .sch-key{
    position: relative;
    width: calc(100% - 155px);
    padding-right: 70px;
    border-left: 1px solid #d0d0d0;
}
.sch-wrap.type3 .btn-sch{
    position: absolute;
    top: 0;
    right: 10px;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/image/board/ic_sch_black.png');
}
.sch-wrap.type3.skin1 .form-group{
    border-radius: 50px;
}
.sch-wrap.type3.skin1 .form-group,
.sch-wrap.type3.skin2 .form-group,
.sch-wrap.type3.skin3 .form-group{
    border-radius: 50px;
}
.sch-wrap.type3.skin2 .btn-sch{
    right: 0;
    background-color: #f5f5f5;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
}
.sch-wrap.type3.skin3 .sch-key{
    padding-right: 155px;
}
.sch-wrap.type3.skin3 .btn-sch{
    right: 0;
    width: 155px;
    padding: 0 30px;
    padding-left: 75px;
    border-radius: 50px;
    background-color: #099fd0;
    background-position: 30px center;
    background-image: url('/assets/image/board/ic_sch_white.png');
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
}

/* Type D */
.sch-wrap.type4{
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 3px solid #e8e8e8;
}
.sch-wrap.type4 .form-item{
    border: 0;
    height: 80px;
    font-size: 2rem;
    letter-spacing: -0.015em;
}
.sch-wrap.type4 .sch-key{
    width: calc(100% - 80px);
    padding: 0 20px;
}
.sch-wrap.type4 .btn-sch{
    width: 70px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/image/board/ic_sch_gray.png');
}

/* Type E */
.sch-wrap.type5{
    padding: 60px;
    background-color: #f9f9f9;
}
.sch-wrap.type5 .form-group{
    max-width: 560px;
    margin: 0 auto;
    padding: 20px 0;
    border-bottom: 2px solid #d8d8d8;
}
.sch-wrap.type5 .form-group .tit{
    display: inline-block;
    width: 170px;
    padding: 0 25px;
    font-size: 2rem;
    font-weight: 600;
    color: #434343;
    letter-spacing: -0.015em;
    vertical-align: middle;
}
.sch-wrap.type5 .form-group .tit + div{
    display: inline-flex;
    width: calc(100% - 175px);
    vertical-align: middle;
}
.sch-wrap.type5 .form-group .tit .form-item{
    width: 100%;
    padding: 0;
    border: 0;
    font-size: 2rem;
    font-weight: 600;
    color: #434343;
    background-color: transparent;
}
.sch-wrap.type5 .form-group .tit + div .form-item{
    width: 100%;
    height: 45px;
    padding: 0 15px;
    background-color: transparent;
    border: 0;
    font-size: 1.6rem;
}
.sch-wrap.type5 .radio-wrap, 
.sch-wrap.type5 .checkbox-wrap{
    gap: 0 30px;
}
.sch-wrap.type5 .radio-group, 
.sch-wrap.type5 .checkbox-group{
    padding-left: 20px;
    font-size: 1.6rem;
}
.sch-wrap.type5 .radio-group input[type="radio"], 
.sch-wrap.type5 .checkbox-group input[type="checkbox"]{
    margin-top: -3px;
    margin-right: 5px;
    margin-left: -20px;
    border-color: #959595;
}
.sch-wrap.type5 .radio-group input[type="radio"]:checked{
    border-color: #fe6000;
}
.sch-wrap.type5 .radio-group input[type="radio"]:checked:before{
    background-color: #fe6000;
}
.cst .checkbox-group input[type="checkbox"]:checked{
    border-color: #fe6000;
}
.cst .checkbox-group input[type="checkbox"]:checked:before{
    border-color: #fe6000;
}
.sch-wrap.type5 .btn-wrap{
    margin-top: 30px;
}
.sch-wrap.type5 .btn{
    padding: 12px 45px;
    border: 1px solid transparent;
    margin: 4px;
    border-radius: 3px;
    font-size: 2rem;
}
.sch-wrap.type5 .btn-sch{
    background-color: #fe670c;
    border-color: #fe670c;
    color: #fff;
    font-weight: 600;
}
.sch-wrap.type5 .btn-reset{
    background-color: #fff;
    border-color: #d1c6c0;
    color: #c8bdb7;
}


/* ==================================================

    * responsive
    
================================================== */
@media screen and (max-width: 1024px){
    html,
    body{
        font-size: 9px;
    }
}
@media screen and (max-width: 768px){
    html,
    body{
        font-size: 8px;
    }
    .sch-wrap.skin1, 
    .sch-wrap.skin2, 
    .sch-wrap.skin3, 
    .sch-wrap.skin4{
        margin-top: 20px;
    }
    /* Type A */
    .sch-wrap.type1{
        display: block;
        width: 100%;
    }
    .sch-wrap.type1 .form-group{
        width: 100%;
    }
    .sch-wrap.type1  .form-item{
        display: block;
        float: left;
        margin: 0;
        font-size: 14px;
        border-radius: 2px;
    }
    .sch-wrap.type1 .sch-cate{
        width: calc((100% - 10px)/2);
    }
    .sch-wrap.type1 .sch-cate + .sch-cate{
        margin-left: 10px;
    }
    .sch-wrap.type1 .sch-key{
        width: calc(100% - 80px);
        margin: 0;
        margin-top: 10px;
    }
    .sch-wrap.type1 .btn-sch{
        width: 80px;
        margin-top: 10px;
        padding: 0 18px;
        background-position: 18px center;
        background-size: 15px;
        border-radius: 2px;
        font-size: 14px;
        text-align: right;
    }
    .sch-wrap.type1.skin1 .btn-sch{
        padding-left: 0;
        margin-left: 0;
        margin-top: 0;
        background-position: center;
    }
    .sch-wrap.type1.skin1 .sch-cate{
        width: 90px;
    }
    .sch-wrap.type1.skin1 .sch-key{
        width: calc((100% - 140px));
        margin-top: 0;
        margin-left: 10px;
    }

    /* Type B */
    .sch-wrap.type2{
        display: block;
        width: 100%;
        padding: 20px;
    }
    .sch-wrap.type2 .form-group{
        width: 100%;
    }
    .sch-wrap.type2 .form-item{
        display: block;
        float: left;
        margin: 0;
        font-size: 14px;
        border-radius: 1px;
    }
    .sch-wrap.type2 .sch-cate{
        width: calc((100% - 10px)/2);
    }
    .sch-wrap.type2 .sch-cate + .sch-cate{
        margin-left: 10px;
    }
    .sch-wrap.type2 .sch-key{
        width: calc(100% - 40px);
        margin-top: 10px;
    }
    .sch-wrap.type2 .btn-sch{
        width: 40px;
        height: 40px;
        margin-top: 10px;
        background-size: 20px;
    }
    .sch-wrap.type2 .btn-reset{
        width: 100%;
        margin: 0;
        margin-top: 10px;
        padding: 0 10px;
        border-radius: 1px;
        font-size: 14px;
    }

    /* Type C */
    .sch-wrap.type3 .form-group{
        overflow: hidden;
        padding: 7px 0;
        border-radius: 5px;
    }
    .sch-wrap.type3 .form-item{
        padding: 0 10px;
        font-size: 14px;
    }
    .sch-wrap.type3 .sch-cate{
        width: 100px;
    }
    .sch-wrap.type3 .sch-key{
        width: calc(100% - 105px);
        padding-right: 45px;
    }
    .sch-wrap.type3 .btn-sch{
        right: 0;
        width: 45px;
        height: 45px;
        background-size: 16px;
    }
    .sch-wrap.type3.skin3 .sch-key{
        padding-right: 70px;
    }
    .sch-wrap.type3.skin3 .btn-sch{
        width: 70px;
        padding: 0 15px;
        padding-left: 30px;
        background-position: 15px center;
        background-size: 13px;
        font-size: 14px;
    }

    /* Type D */
    .sch-wrap.type4 .form-item{
        width: calc(100% - 55px);
        height: 50px;
        padding: 0 10px;
        font-size: 14px;
    }   
    .sch-wrap.type4 .btn-sch{
        width: 50px;
        height: 50px;
        background-size: 22px;
    }

    /* Type E */
    .sch-wrap.type5{
        padding: 20px 15px 30px;
    }
    .sch-wrap.type5 .form-group{
        max-width: 100%;
        padding: 10px 0;
        border-width: 1px;
    }
    .sch-wrap.type5 .form-group .tit{
        width: 90px;
        padding: 0 10px;
        font-size: 14px;
    }
    .sch-wrap.type5 .form-group .tit + div{
        width: calc(100% - 95px);
    }
    .sch-wrap.type5 .form-group .tit .form-item{
        font-size: 14px;
    }
    .sch-wrap.type5 .form-group .tit + div .form-item{
        height: 35px;
        padding: 0 10px;
        font-size: 14px;
    }
    .sch-wrap.type5 .radio-wrap, 
    .sch-wrap.type5 .checkbox-wrap{
        gap: 0 20px;
    }
    .sch-wrap.type5 .radio-group, 
    .sch-wrap.type5 .checkbox-group{
        font-size: 14px;
    }
    .sch-wrap.type5 .btn-wrap{
        margin-top: 20px;
    }
    .sch-wrap.type5 .btn{
        padding: 8px 25px;
        font-size: 14px;
    }
}